<div id="copyright">
  Copyright © 1995-<%= Time.now.year%> DNC Services Corporation
</div>
<div id="disclaimer">
  Paid for by the Democratic National Committee -- 430 South Capitol Street SE, Washington, D.C., 20003.<br/>
  This communication is not authorized by any candidate or candidate's committee.
</div>
<div id="links">
  <ul>
    <li><%= link_to "Privacy Policy", "http://www.democrats.org/privacy.html" -%></li>
    <li><%= link_to "Technical Problems?", "http://www.democrats.org/page/s/techproblems" -%></li>
  </ul>
</div>