<div id="dem_party_title_box">
  <h2 id="the">
    THE
  </h2>
  <h1 id="democratic_party">
    <span id="democratic"><span class="large-letter">D</span>EMOCRATIC</span>
    <span id="party"><span class="large-letter P">P</span>ARTY</span>
  </h1>
</div>
<div id="site_title_box">
  <h1 id="site_title"><%= APP_TITLE.upcase %></h1>
</div>
<%= link_to "", "http://democrats.org", :id => "title_link_1" %>
<%= link_to "", root_path, :id => "title_link_2" %>