<%% form_for @<%= singular_name %>_session do |p| %>
  <p>
    <%%= p.real_label :email %>
    <%%= p.real_text_field :email %>
  </p>
  <p>
    <%%= p.real_label :password %>
    <%%= p.real_password_field :password %>
  </p>
  <%%= submit_tag "Login" %>
  <p>
    <%%= link_to "Did you forget your password?", fetch_password_index_path %>
  </p>
<%% end %>