--- 
production: 
  base_uri: http://lockbox.dnc.org
  application_name: test
development:
  base_uri: http://localhost:3001
  application_name: test
cucumber: 
  base_uri: http://localhost:3001
  application_name: test
test: 
  base_uri: http://localhost:3001
  application_name: test  
all:
  protect_paths: 
    - ^/api/
