<h1>New <%= class_name %></h1>
<%%= error_messages_for :<%= singular_name %> %>

<%% form_for @<%= singular_name %> do |f| %>
  <%%= render :partial => 'form', :locals => { :f => f, :submit_name => "Save" } %>
<%% end %>
