<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title><%= App[:title] %></title>
  <%= stylesheet_link_merged :new_layout %>
  <link rel="pingback" href="http://open-staging.democrats.org/xmlrpc.php" />
  <meta name='robots' content='noindex,nofollow' />
</head>
<body class="single single-post">
  <a href="http://open-staging.democrats.org"><img id="site-logo" width="470" height="120" src="http://open-staging.democrats.org/wp-content/themes/opendems/images/opendems_logo.png" alt="Open.Dems Logo" /></a>
  <p id="tagline"><span id="tagline-prefix">//</span> Resources from the DNC's Technology, New Media and Targeting Teams</p>
  <div class="menu">
    <ul>
      <li id="blog-link"><a href="http://open-staging.democrats.org">Blog</li>
      <li id="open-api-link"><a href="#">Open API</a></li>
      <li id="open-source-link"><a href="https://github.com/organizations/dnclabs">Open Source</a></li>
      <li id="signup-link"><a href="#">Signup</a></li>
    </ul>
    <img style="margin-left: -1px;" src="http://open-staging.democrats.org/wp-content/themes/opendems/images/opendems_rightend_nav.png" width="38" height="57" />
  </div><!-- .menu -->
    <!--end header-->

  <div id="container">
    <div id="content" role="main">
      <div class="post-column">
        <div class="post type-post hentry category-blog">
          <div class="post-inner">              
            <div class="entry-content">
              <div id="flash">
                <%= flash_helper %>
              </div>
              <%= yield %>
            </div><!-- .entry-content -->
            <div class="entry-utility">
            </div><!-- .entry-utility -->
          </div><!-- .post-inner -->
        </div><!-- #post-## -->
      </div><!-- .post-column -->
    </div>
    </div><!-- #content -->
    <div id="footer">
      <p id="footer-legal">Paid for by the Democratic National Committee &mdash; 430 South Capitol Street SE, Washington, D.C., 20003. This communication is not authorized by any candidate or candidate's committee.</p>
      <img id="footer-logo" width="312" height="105" src="http://open-staging.democrats.org/wp-content/themes/opendems/images/opendems_dems_footer.png" />
    </div>
</body>
</html>
